.content{
    
    /*设置宽高*/width: 90%;
    height: 900px;
    /*设置行高*//*line-height: 60px;
    *//*text-align: center;
    *//*padding: 10px;
    *//*背景*/
    background-color: #fff;
    /*盒子阴影*/box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    /*圆角*/border-radius: 30px;
    /*使用负数消除flex带来的间距*/
    /*margin-top: -450px;*/
    display: flex;
    margin-left: 90px;
    margin-bottom: 10px;
    margin-top: -20px;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;

    scroll-behavior: smooth;

    /* backdrop-filter: blur(5px); /* 调整模糊程度 */
    /*background-color: rgba(255, 255, 255, 0.25); 调整背景颜色和透明度 */
    
}

.con1{
    display: block;
    /* background-color: aqua; */
    width: 100%;
    /* height: 50%; */
    /* float: left; */
}
.ppp{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1170px;
    height: 360px;
    text-indent: 2em;
    /* font-size: 20px; */
    font-size: 20px;
    /* font-family: '黑体'; */
    /*flex: 1;
    */float: left;
    line-height: 29px;
    backdrop-filter: blur(5px);
    /*调整模糊程度*/background-color: rgba(255, 255, 255, 0.25);
    /*background-color: aquamarine;
    */
    border-radius: 30px;

    /* wed.18.24 */
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
}

.content .row{
    margin: 60px;

    padding-top: 300px;
    width: 500px;
    display: block;
    align-items: center;
    flex-wrap: wrap;
    text-indent: 2em;
    /* background-color:#ccc; */
}

.conlogo{
    margin-top: 80px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: -10px;
    width: 1040px;
}



.fback {
    position: fixed;
    top: 90.5%;
    right: 0px;
    width: 85px;
    height: 85px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #f09819, #ff5858);
}

.fback:hover {
    width: 88px;
    height: 88px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fback_a {
    display: block;
    position: relative;
    /* 层叠等级 */
    z-index: 2;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

footer{
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    backdrop-filter: blur(5px);
    /*调整模糊程度*/background-color: rgba(255, 255, 255, 0.25);
    text-align: center;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 1180px;
    height: 860px;
    text-indent: 2em;
    font-size: 20px;
    /* font-family: '黑体'; */
    /*flex: 1;
    */
    float: left;
    line-height: 29px;
    backdrop-filter: blur(5px);
    /*调整模糊程度*/background-color: rgba(255, 255, 255, 0.25);
    /*background-color: aquamarine;
    */
    border-radius: 30px;
}

.page {
    width: 430px;
    height: 480px;

    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 20px; 
    margin-top: 60px; 
    margin-left: -10px; 

    text-indent: 2em;
    font-size: 20px;
    line-height: 29px;

    /*调整模糊程度*/
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 30px;

}

.page_info {
    width: 430px;
    height: 360px;

    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 20px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    margin-left: 360px;
    /* margin-left: -10px;  */

    text-indent: 2em;
    font-size: 20px;
    line-height: 29px;



    /*调整模糊程度*/
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 30px;

}
.conlogo_info{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 840px;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    backdrop-filter: blur(8px);
    /*调整模糊程度*/background-color: rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    background: linear-gradient(to right,#eee,#a8edea);
}

.page_news {
    width: 804px;
    height: 200px;

    margin: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 20px; 
    margin-top: 20px; 
    margin-bottom: 0px;

    /* margin-left: -10px;  */

    text-indent: 2em;
    font-size: 20px;
    line-height: 29px;
    float: left;



    /*调整模糊程度*/
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 30px;


}

.page_news a {
    display: block;
    position: relative;
    /* 层叠等级 */
    z-index: 2;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.page_news a p:hover {
    color: #ccc;
    transition: 0.3s;
}

.page_news_iner {
    width: 784px;
    height: 100px;

    /* margin: 10px; */
    /* padding-top: 10px; */
    padding-bottom: 20px;
    padding: 20px; 
    /* margin-top: 20px;  */
    margin-bottom: 0px;
    margin-top: -10px;
    padding-top: 40px;
    margin-left: -10px;

    /* margin-left: -10px;  */

    text-indent: 2em;
    font-size: 20px;
    line-height: 29px;
    float: left;



    /*调整模糊程度*/
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);

    border-radius: 30px;


}