body {
    background: linear-gradient(45deg, #f06, #f79);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
}

.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    background: linear-gradient(45deg, #f06, #f79);
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

li:nth-child(1):hover ~ .slider,
li:nth-child(1):focus-within ~ .slider {
    transform: translateX(0);
}

li:nth-child(2):hover ~ .slider,
li:nth-child(2):focus-within ~ .slider {
    transform: translateX(100%);
}

li:nth-child(3):hover ~ .slider,
li:nth-child(3):focus-within ~ .slider {
    transform: translateX(200%);
}

li:nth-child(4):hover ~ .slider,
li:nth-child(4):focus-within ~ .slider {
    transform: translateX(300%);
}

li:nth-child(5):hover ~ .slider,
li:nth-child(5):focus-within ~ .slider {
    transform: translateX(800%);
}